.footer__column-link {
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    transition: .5s;
  }
  
  .footer__column-link:hover {
    opacity: 0.4;
  }